body {
  color: #161616;
}

.btn-primary {
  background-color: #01BAFD;
}

.conversation-list, .conversation-display {
  height: 680px;
}

.conversation-list-preview {
    border-bottom: solid 1px black; 
    padding: 10px 5px;
}
.conversation-list-preview-active {
  background-color: #FEBA11;
  color: white;
}


.message-container {
  position: absolute;
  top: 60px;
  height: 580px;
  overflow-y: auto;
}

.message-users {
  background-color: #e3e3e3;
  padding: 10px;
}

.message-avatar {
  display: inline-block;
  line-height: 35px;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-color: #FEBA11;
  color: #999;
}


.message-body-row {
  width: 100%;
  text-align: right;
}

.message-body {
  border-radius: 14px;
  padding: 0 12px;
  line-height: 30px;
  display: inline-block;
}

.message-body.message-outgoing {
  background-color: #01BAFD;
  float: right;
}

.message-body.message-incoming {
  background-color: #EFEFEF;

}

.message-row {
  padding: 6px;
}
  .message-row + .message-row {
    /*border-top: 1px solid lightgray;*/
  }

.message-form {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
}