<div class="page-header">
    <h3>
      <span>
        {{item.name}}
      </span>
    </h3>
    <span>
      <a href="#/transactions">Buy Item</a><br>
    </span>
    <form ng-submit="createDiet()"
        ng-show="isLoggedIn()"
        style="margin-top:30px;">
      <select ng-model="day.day">
        <option value="">Choose a Day</option>
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>
      <br>
      <input ng-model="day.title" placeholder="Title for Meal"/>
      <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div>

  <div>
    <span>
      <a href="#/home">Home Page</a>
    </span>
  </div>  

