<div class="page-header">
    <h3>
      <span>
        {{exercise.title}}, Day {{exercise.day}}
      </span>
    </h3>
    <h3><b>Steps</b></h3>
      <div ng-repeat="step in exercise.steps | orderBy: 'order'">
        <hr>
        <a href="#/items/step/{{step._id}}"><h4>
          {{step.order}}. {{step.title}}
        </h4></a>
        <span> {{step.description}} ({{step.length}})</span>
        <hr>
      </div>

    <div ng-if="isContributor()">
        <div ng-show="isCurrentUser()">
            <form ng-submit="addStep()">
                <input type="text"
                      class="form-control"
                      placeholder="Step Title"
                      ng-model="step.title"></input>
                <input type="text"
                      class="form-control"
                      placeholder="Step Description"
                      ng-model="step.description"></input>
                <input type="text"
                      class="form-control"
                      placeholder="Step Time Length"
                      ng-model="step.length"></input>
                <div class="form-group">
                  <select ng-model="step.order">
                    <option value="">Order Number</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                  </select>
                </div>
           <div>

          </div> 
        <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
    </div>
    <span ng-show="!isCurrentUser()">
      <a href="#/transactions">Buy Item</a>
    </span>
</div>


  <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '692480267528460',
          status     : true, 
          cookie     : true, 
          xfbml      : true,
          version    : 'v2.3'
        });
        function share () {
        FB.ui({
         method: 'share_open_graph',
         action_type: 'og.likes',
         action_properties: JSON.stringify({
          object:'https://developers.facebook.com/docs/',
         })
        }, function(response){});
      }
    };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <a href="https://www.facebook.com/v2.3/dialog/share_open_graph?action_properties=%7B%22object%22%3A%22https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F%22%7D&action_type=og.likes&app_id=692480267528460&display=popup&e2e=%7B%7D&locale=en_US&next=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FQrU_tEEWym9.js%3Fversion%3D41%23cb%3Df28454b1c%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A3000%252Ff283facdcc%26relation%3Dopener%26frame%3Df3d230ab5%26result%3D%2522xxRESULTTOKENxx%2522&sdk=joey&version=v2.3" ng-click="share();">Share now</a>
  <div>
  
    <span>
      <a href="#/home">Home Page</a>
    </span>
  </div>  

