<div class="page-header">
    <h3>
      <span>
        {{gpost.body}}
      </span>
    </h3>
  </div>

  <div ng-repeat="gcomment in gpost.gcomments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(gcomment)"></span>
      {{gcomment.upvotes}} - by {{gcomment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{gcomment.body}}
    </span>
  </div>
  <form ng-submit="addGroupComment()"
    style="margin-top:30px;">
    <h3>Post new comment to group</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="gcomment.body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post Comment</button>
  </form>

        <br />
      <div>
        <span>
          <a href="#/home">Home Page</a>
        </span>
      </div>    