        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=692480267528460";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
      <div class="page-header">
        <h1>Join/Log-in to Group</h1>
      </div>


      <div ng-repeat="group in groups" >
        <span style="font-size:20px; margin-left:10px;">
            <a href="#/group/{{group._id}}">{{group.name}}</a>
        </span>
<!--         <span ng-show="isGroupMember()">
          <a href="#/group_home/{{group._id}}">Go to Group Page</a>
        </span> -->
      </div>

      <form ng-submit="addGroup()"
        ng-show="isLoggedIn()"
        style="margin-top:30px;">

        <h3>Add a new group page</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Group Name"
            ng-model="group.name"></input>
        </div>
        <button type="submit" class="btn btn-primary">Create Group</button>
      </form>
        <div>
          <span>
            <a href="#/home">Home Page</a>
          </span>
        </div>    

      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '692480267528460',
            status: true, 
            cookie: true, 
            xfbml: true,
            version    : 'v2.3'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
    </script>
