
<div ng-show="isUser()">

      <div class="page-header">
        <h1>Group Wall  || {{group.name}}</h1>

      </div>
      <div ng-repeat="gpost in group.gposts">
<!--         <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(gpost)"></span>
            {{gpost.upvotes}} -->
        <div>
          <span style="font-size:18px;">{{gpost.body}}</span>
          <span style="font-size:12px;">By {{gpost.author}}</span>
          <form ng-submit="addGcomment(gpost, gcomment)"
          style="margin-top:30px; border-top: 1px; border-style: solid; border-bottom:none; border-left: none; border-right:none; padding-top: 1px;  border-color: #eee">
            <div class="form-group">
            {{gpost}} {{gcomment}}
              <input type="text"
                class="form-control"
                placeholder="Comment Body"
                ng-model="gcomment.body">
              </input>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
          </form>
          <div ng-repeat="gcomment in gpost.gcomments">
            <span style="font-size:14px;">{{gcomment.body}}</span>
            <span style="font-size:12px;">By {{gcomment.author}}</span>
          </div>
        </div>
<!--         <span style="font-size:10px;">
          {{post.comment.body}}
        </span>
        <span style="font-size:12px;">
          By <a href="/set/#/user/{{user._id}}">{{post.comment.author}}</a>
        </span>
        <form ng-submit="addComment()"
                style="margin-top:15px; padding-bottom: 30px">
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Comment Body"
              ng-model="post.comment.body">
            </input>
          </div>
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        </div> -->
      </div>
      <form ng-show="view" ng-submit="addGcomment()"
      style="margin-top:30px; border-top: 1px; border-style: solid; border-bottom:none; border-left: none; border-right:none; padding-top: 1px;  border-color: #eee">
        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Comment Body"
            ng-model="gcomment.body">
          </input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>

      <form ng-submit="addGpost()"
        style="margin-top:30px; border-top: 1px; border-style: solid; border-bottom:none; border-left: none; border-right:none; padding-top: 1px;  border-color: #eee">

        <h3>Post to Group</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Post Body"
            ng-model="gpost.body">
          </input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>


      <div style="margin-top:30px">
        <span>
          <a href="#/home">Home Page</a>
        </span>
      </div>    
</div>
<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>