<div ng-show="isUser()">
<!--   <div ng-show="isCurrentUser()"> -->
  <h3 class="text-center">Mean Starter</h3>

<!-- TBC: search bar -->

<!-- item creation -->
  <section>
    <button class="btn-primary col-sm-4">Create Post</button>
    <a href="#/shop">
      <button class="btn-default col-sm-4" ng-if="isContributor()">Create Digital Item</button></a>
    <a href="#/events">
      <button class="btn-default col-sm-4" ng-if="isContributor()">Create Event</button></a>

    <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px;">
      <h3>Add a new post</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title"
          ng-model="title"></input>
      </div>
      <div class="form-group">
        <textarea type="text" class="form-control" placeholder="Link"
            ng-model="link" row="6"></textarea>
      </div>
      <button type="submit" class="btn btn-primary col-md-2 col-md-offset-10">Post</button>
    </form>
  </section>

  <!-- Events -->
  <section class="row">
    <div class="col-sm-12">
      <h3>Events</h3>
      <a ng-href="#/events"> Browse Events <i class="fa fa-arrow-right"></i> </a>
    </div>
    <div ng-repeat="event in events" class="col-sm-12"> 
      <div class="col-sm-2"> <img ng-src="{{event.cover_photo_url? event.cover_photo_url.front : 'images/itemplaceholder.png'}}" style="max-height: 60px"> </div>
      <div class="col-sm-4">
        {{ event.name }} 
        <br>Price: ${{ event.price.value/100 }}
      </div>
      </a>
      <div class="col-sm-6 text-right">
        <a ng-click="deleteItem(event, $index)">delete</a>
        | <a href="#/event/{{event._id}}">edit</a> 
        | <a href="#/event/{{event._id}}/orders">orders</a>
        <br>{{event.transactions}} signups
        <br>Type: {{ eventTitles[event.type] }}
      </div>
    </div>

  </section>

  <!-- Digital Items-->
  <section class="row">
    <div class="col-sm-12">
      <h3>Digital Items</h3>
      <a ng-href="#/shop"> Browse Items <i class="fa fa-arrow-right"></i> </a>
    </div>

    <div ng-repeat="item in items" class="col-sm-12"> 
      <div class="col-sm-2"> <img ng-src="{{item.cover_photo? item.cover_photo : 'images/itemplaceholder.png'}}" style="max-height: 60px"> </div>
      <div class="col-sm-4">
        {{ item.name }} 
        <br>Price: ${{ item.price/100 }}
      </div>
      </a>
      <div class="col-sm-6 text-right">
        <a ng-click="deleteItem(item, $index)">delete</a>
        | <a href="#/item/{{item._id}}">edit</a> 
        | <a href="#/item/{{item._id}}/orders">orders</a>
        <br>
        {{item.transactions}} purchases
        <br>Type: {{ itemTitles[item.type] }}
      </div>
    </div>
  </section>
  <!-- TBC: Orders -->
  <!-- TBC: Followers -->

<!-- Posts -->
  <section class="row">
    <div class="col-sm-12">
      <h3>Posts</h3>
    </div>
    <div ng-repeat="post in posts | orderBy:'-upvotes'" class="col-sm-12">
      <i class="fa fa-thumbs-up" ng-click="incrementUpvotes(post)"></i>
      {{post.upvotes}}
      <span style="font-size:20px; margin-left:10px;"> 
      <span ng-hide="post.link"><a ng-href="#/post/{{post._id}}"> {{post.title}} </a></span>
      <span ng-show="post.link"><a href="{{post.link}}"> {{post.title}} </a></span> 
      </span>
      <span> <a ng-href="#/post/{{post._id}}">Comments</a> </span>
    </div>
  </section>


  <footer class="text-center" style="margin-top: 60px">
    <a href="#/groups">Groups</a> || <a href="#/messenger">Messenger</a> || <span ng-if="isAdmin()"><a href="/admin/#/home">Administrator</a></span><br/>
    You are logged in as {{ user.f_name }} {{ user.l_name}}. Not you? Click <a href="" ng-click="logOut()">here</a>.
  </footer>
</div>

<div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>