<div class="page-header">
    <h3>
      <span>
        {{item.name}}
      </span>
    </h3>
    <span ng-show="!isCurrentUser()">
      <a ng-href="#/transactions/{{item._id}}">Buy Item</a>
    </span>
    <div ng-show="isCurrentUser()" ng-if="isContributor() && isMine(item)" >
      <a href="" ng-click="deleteItem()"><span>Delete Item<br></span></a>
      <a href="/set/#/item/{{item._id}}">View Public Page</a>
    </div>
</div>

<digital-media ng-if="item.video || item.book || item.podcast" item="item"></digital-media>

<diet-plan ng-if="item.type === 'dietplan'" item="item"></diet-plan>

<workout-plan ng-if="item.type === 'workoutplan'" item="item"></workout-plan>

  <span>
    <a href="#/home">Home Page</a>
  </span>
</div>  
