  <div class="page-header">
    <h1>
      Messenger
    </h1>
  </div>

  <div class="row">
    <!-- left column -->
    <div class="col-sm-4">

      <div class="col-sm-10">
        <form ng-submit="searchConversations()" class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="conversation.query"></input>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" ng-click="createConversation()"><i class="fa fa-comment-o"></i></button>
      </div>

      <div latest-message="conversation" ng-repeat="conversation in conversations"></div>
    </div> <!-- /end left column -->

    <!-- right column -->
    <div class="col-sm-8" ng-show="conversation">

      <div><button class="btn btn-primary" ng-click="addUserModal = true"><i class="fa fa-plus"></i></button></div>

      <conversation-add-user>


      <div ng-repeat="message in conversation.messages">
        {{message.body}}
        {{message.sent}}
      </div>

      <form name="messageForm" ng-submit="createMessage()" novalidate>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="message" ng-model="conversation.message.body">
          <span class="input-group-btn"> <button type="submit" class="btn btn-primary">Send</button> </span>
        </div>
      </form>

    </div> <!-- /end right column -->

  </div> <!-- /end row -->
<pre>{{conversations|json}}</pre>
