<div ng-show="isUser()">
  <div class="page-header">
    <h1>
      Messenger
    </h1>
  </div>

  <div class="row">

    <div class="conversation-list col-sm-4">

    <!-- conversations search-->
    <!--       
      <form ng-submit="searchConversations()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="query"></input>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form> -->

      <!-- conversation init button -->
      <div>
        <button type="button" class="form-control btn btn-primary" ng-click="initConversation()"><i class="fa fa-comment-o"></i></button>
      </div>

    <!-- conversations list - convo in conversations -->
      <!-- conversation latest message -->
      <div class="conversation-list-preview {{conversation._id === mainConversation._id? 'conversation-list-preview-active' : ''}}" ng-repeat="conversation in conversations | orderBy: 'latest.time_sent' " ng-click="focusConversation(conversation)">
        {{!conversation._id? 'New Message' : ''}}
        <span class="text-right" ng-show="!conversation._id" ng-click="cancelNewConversation()"><i class="fa fa-times"></i></span>
        <!-- sender.pic --> <!-- sender.f_name --> <!-- sender.l_name --> <!-- sender.body | limitTo -->
        <div ng-bind="otherPeople(conversation)"></div>
        <div>{{conversation.latest.body | limitTo: 40 }}</div>

      </div>

    </div> <!-- /end left column -->


    <!-- right column -->
    <!-- mainConversation display -->
    <div class="conversation-display col-sm-8">


      <!-- user in mainConversation.users -->
      <div class="col-sm-12 message-users" title="Recipients">
        <div ng-repeat="user in mainConversation.users">
          <span ng-hide="isSelf(user._id)"><i class="fa fa-user"></i> {{user.f_name}} {{user.l_name}}</span><!-- <span class="text-right">Online? {{user.status}}</span> -->
          </div>

        <button ng-hide="mainConversation._id" ng-click="addUserModal = !addUserModal"><i class="fa fa-plus"> </i></button>

        <conversation-add-users ng-show="mainConversation.new && addUserModal"></conversation-add-users>
      </div>

      <div message-box class="col-sm-12 message-container" scrollBottom="mainConversation.messages">

        <!-- message in conversation.messages -->
        <div class="col-sm-12 message-row" ng-repeat="message in mainConversation.messages | orderBy: 'time_sent'">
          <!-- message.body - leftside for others, rightside for self -->
          <div class="{{ isSelf(message.user_id) ? 'message-body-self' : 'message-body-other'}}">
            <div class="message-avatar" ng-show="mainConversation.users.length > 2 && !isSelf(message.user_id)">{{message.f_name.slice(0, 1) + message.l_name.slice(0, 1)}}</div>
            <div class="message-body {{ isSelf(message.user_id) ? 'message-outgoing' : 'message-incoming'}}">{{message.body}}</div>
          </div>
          
          <!-- message.time_sent or message.time_read -->
          <div ng-show="!isSelf(message.user_id)">
            <small>Sent: {{message.time_sent | date: 'MMM dd hh:mm'}}<small>
          </div>
          <!-- <div class="text-right" ng-show="isSelf(message.user_id) && message.time_read.length > 0">
            <small>Read: {{message.time_read[0].time | date: 'MMM dd hh:mm'}}</small>
          </div> -->
        </div> <!-- /end right column -->
      </div>

      <!-- conversation.newmessage -->
        <!-- conversation.newmessage.body -->
        <!-- emoji picker -->
        <!-- send button-->

      <form name="messageForm" class="message-form" ng-submit="sendMessage()" novalidate>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="message" ng-model="newmessage.body">
          <!-- <span class="input-group-btn"> <button class="btn btn-primary">Emoji</button> </span> -->
          <span class="input-group-btn"> <button type="submit" class="btn btn-primary">Send</button> </span>
        </div>
      </form>

    </div> <!-- /end row -->
  </div> <!-- /end row -->


  <div style="margin-top: 20px" ng-show="debug" class="row"><div class="col-sm-12"><pre>

    newMessage {{newmessage|json}}
   -------- -------- -------- --------
    mainConversation | #people: {{mainConversation.users.length}} | #message: {{mainConversation.messages.length}}
    {{mainConversation|json}}
    <!-- user {{user|json}} / users {{users|json}} -->
   -------- -------- -------- --------
    conversations 
    {{conversations|json}}
  </pre></div></div>
</div>

