  <div class="page-header">
    <h1>
      Messenger
    </h1>
  </div>

  <div class="row">
    <!-- left column -->
    <div class="col-sm-4">

      <div class="col-sm-10">
        <form ng-submit="searchConversations()" class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="conversation.query"></input>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" ng-click="createConversation()"><i class="fa fa-comment-o"></i></button>
      </div>

      <div class="col-sm-12" ng-repeat="conversation in conversations" style="border-bottom: 1px solid black"> <!-- order by latest touched -->
        <div class="col-sm-2">Pic</div>
        <div class="col-sm-10">name {{conversation.messages[0].f_name + ' ' + conversation.messages[0].l_name}}
          <br/>{{conversation.messages[0].body | limitTo: 40}}
        </div>
      </div>
    </div> <!-- /end left column -->

    <!-- right column -->
    <div class="col-sm-8" ng-show="conversation">

      <!-- recipients -->
      <div class="col-sm-10">
        To: <span ng-repeat="user in conversation.users"> <span style="background-color: lightgray; padding: 5px; border-radius: 3px">{{user.username}}</span> </span>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary" ng-click="addUserModal = true"><i class="fa fa-plus"></i></button>
      </div>

      <!-- add users to conversation -->
      <div class="col-sm-12" ng-show="addUserModal">
        <!-- search for people to message -->
        <form name="userSearchForm" class="form-horizontal" ng-submit="findUsers()" novalidate/>
          <div class="form-group">
            <div class="col-sm-11">
              <input type="text" class="form-control" placeholder="Search" ng-model="conversation.userQuery" ng-blur="searchUsers()">
            </div>
          </div>
        </form>
        <div class="col-sm-12" ng-repeat="user in users | orderBy: 'username'" ng-click="addToConversation(user)">
          {{user.f_name || user.handle || user.username}} | {{user._id}}
        </div>

        <!-- search results of people to add to conversation -->
        <div class="col-sm-12" ng-repeat="user in conversation.userResult">
          <div class="col-sm-1">Pic</div>
          <div class="col-sm-10">{{user.f_name}}</div>
          <div class="col-sm-1"> </div>
        </div>
      </div>

      <div ng-repeat="message in conversation.messages">
        {{message.body}}
        {{message.sent}}
      </div>

      <form name="messageForm" ng-submit="createMessage()" novalidate>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="message" ng-model="conversation.message.body">
          <span class="input-group-btn"> <button type="submit" class="btn btn-primary">Send</button> </span>
        </div>
      </form>

    </div> <!-- /end right column -->

  </div> <!-- /end row -->
