      <div class="page-header">
        <h1>Settings</h1>

      </div>

        <span style="font-size:20px; margin-left:10px;">Setting 1</span>

<!--         <div>Select an image file: <input type="file" id="fileInput" /></div>
        <div class="cropArea">
          <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
        </div>
        <div>Cropped Image:</div>
        <div><img ng-src="{{myCroppedImage}}" /></div> -->

        <div flow-init="{target: '../upload/'}"
             flow-files-submitted="$flow.upload()"
             flow-file-success="$file.msg = $message">

          <input type="file" flow-btn/>
          Input OR Other element as upload button
          <span class="btn" flow-btn>Upload File</span>

          <table>
            <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.msg}}</td>
            </tr>
          </table>
        </div>
        <h3>Languages</h3>
        <div ng-repeat="language in languages">
        <span>{{language.name}}</span>
        </div>
        <form ng-submit="addLanguage()"
        style="margin-top:30px;">
          <h3>Add a new language</h3>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Language"
              ng-model="language.name"></input>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form ng-submit="updateSettings()"
        style="margin-top:30px;">
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="First Name"
              ng-model="user.f_name">
            </input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Last Name"
              ng-model="user.l_name">
            </input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Address"
              ng-model="user.address">
            </input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Dob"
              ng-model="user.dob">
            </input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Handle"
              ng-model="user.handle">
            </input>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>