      <div class="page-header">
        <h1>Settings</h1>

      </div>

        <span style="font-size:20px; margin-left:10px;">Setting 1</span>
        <h3>Languages</h3>
        <div ng-repeat="language in languages">
        <span>{{language.name}}</span>
        </div>
        <form ng-submit="addLanguage()"
        style="margin-top:30px;">
          <h3>Add a new language</h3>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Language"
              ng-model="language.name"></input>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form ng-submit="updateSettings()"
        style="margin-top:30px;">
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="First Name"
              ng-model="user.f_name">
            </input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Last Name"
              ng-model="user.l_name">
            </input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Address"
              ng-model="user.address">
            </input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Dob"
              ng-model="user.dob">
            </input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Handle"
              ng-model="user.handle">
            </input>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>