<div ng-if="isThisUser() === user._id">
        <!-- <h3>Languages</h3>
        <div ng-repeat="language in languages">
        <span>{{language.name}}</span>
        </div>
        <form ng-submit="addLanguage()"
        style="margin-top:30px;">
          <h3>Add a new language</h3>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Language"
              ng-model="language.name"></input>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->
<div ng-show="!view" style="padding-top:50px;">
  <div style="padding-bottom:20px;">
  <a href="/set/#/user/{{user.handle}}"><button class="btn btn-primary" style="width:100%;">View Profile</button></a>
  </div>
  <button class="btn btn-primary" ng-click="view = !view" style="width:100%;">Edit Details</button>
  <h3>Details for {{user.f_name}} {{user.l_name}}</h3>
  <table class="table">
    <tr>
      <td>First Name</td>
      <td>{{user.f_name}}</td> 
    </tr>
    <tr>
      <td>Last Name</td> 
      <td>{{user.l_name}}</td>
    </tr>
    <tr>
      <td>Address</td> 
      <td>{{user.address}}</td>
    </tr>
    <tr>
      <td>Date of Birth</td> 
      <td>{{user.dob}}</td>
    </tr>
    <tr>
      <td>Handle</td> 
      <td>{{user.handle}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{user.username}}</td>
    </tr>
  </table>
</div>
<div ng-show="view" style="padding-top:50px;">
<form ng-submit="updateSettings()">
<div style="padding-bottom:20px;">
  <a href="/set/#/user/{{user.handle}}"><button class="btn btn-primary" style="width:100%;">View Profile</button></a>
  </div>
<button class="btn btn-primary" ng-click="view = !view" style="width:100%;">View Details</button>
  <h3>Editing {{user.f_name}} {{user.l_name}}</h3>
  <table class="table">
    <tr>
      <td>First Name</td>
      <td><input ng-model="user.f_name" style="width:100%;"></td> 
    </tr>
    <tr>
      <td>Last Name</td> 
      <td><input ng-model="user.l_name" style="width:100%;"></td>
    </tr>
    <tr>
      <td>Address</td> 
      <td><input ng-model="user.address" style="width:100%;"></td>
    </tr>
    <tr>
      <td>Date of Birth</td> 
      <td><input  ng-model="user.dob" style="width:100%;"></td>
    </tr>
    <tr>
      <td>Handle</td> 
      <td><input ng-model="user.handle" style="width:100%;"></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input ng-model="user.username" style="width:100%;"></td>
    </tr>
  </table>
  <button type="submit" class="btn btn-primary" ng-click="view = !view" style="width:100%;">Update</button>
</form>
</div>
</div>
<div ng-if="isThisUser() !== user._id">
  <h3>You need to be {{user.f_name}} {{user.l_name}} to access this page. Click <a href="/#">here</a> to sign in as {{user.f_name}} {{user.l_name}}.</h3>
</div>