      <div class="page-header">
        <h1>Shop from the windows to the walls</h1>
      </div>


      <div ng-repeat="item in items | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(item)"></span>
           {{item.upvotes}}
        <span style="font-size:20px; margin-left:10px;">
          <span>
            {{item.name}}
          </span>
        </span>
        <span>
          <a href="#/items/{{item._id}}">Go to Item Page</a>
        </span>
      </div>
      <form ng-submit="addItem()"
        ng-show="isLoggedIn()"
        style="margin-top:30px;">

        <h3>Add a new item</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Item Desc..."
            ng-model="name"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>

      <br />
      <div>
        <span>
          <a href="#/home">Home Page</a>
        </span>
      </div>    