<form ng-submit="addItem()" style="margin-top:30px;">

  <div class="col-md-6">
    <div class="form-group col-sm-12">
      <input type="text" class="form-control" placeholder="Title" 
        ng-model="item.name"></input>
    </div>

    <div ng-show="item.type==='book'">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Number of Pages"
          ng-model="item.pages"></input>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Price" 
          ng-model="item.price" min="0" max="9999" step="0.01"></input>
      </div>
      <div class="form-group col-sm-12">
      <input type="text" class="form-control" placeholder="genre"
        ng-model="item.genre"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="language"
          ng-model="item.language"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="publisher"
          ng-model="item.publisher"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="isbn"
          ng-model="item.isbn"></input>
      </div>
    </div>   

    <div ng-show="item.type==='video'">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="duration"
          ng-model="item.duration"></input>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Price" 
          ng-model="item.price" min="0" max="9999" step="0.01"></input>
      </div>
      <!-- //FOR LATER -->
<!--       <div class="form-group col-sm-12">
        <select ng-model="item.currency">
          <option value="">Choose a Currency</option>
          <option value="USD">United States Dollar (USD)</option>
          <option value="CAD">Canadian Dollar (CAD)</option>
          <option value="EUR">Euro (EUR)</option>
          <option value="GBP">British Pound (GBP)</option>
        </select>
      </div> -->
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="genre"
          ng-model="item.genre"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="language"
          ng-model="item.language"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="studio"
          ng-model="item.studio"></input>
      </div>
    </div>


    <div ng-show="item.type==='podcast'">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="duration"
          ng-model="item.duration"></input>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Price" 
          ng-model="item.price" min="0" max="9999" step="0.01"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="genre"
          ng-model="item.genre"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="language"
          ng-model="item.language"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="studio"
          ng-model="item.studio"></input>
      </div>
    </div>

  </div> <!-- end col-md-6 left side of form -->

  <div class="col-md-6">
    Uploads
  </div>

  <div class="form-group col-md-12">
    <textarea class="form-control" placeholder="description"
      ng-model="item.description" rows="5"></textarea>
  </div>

  <div class="form-group col-md-12">
    Upload PDF etc
  </div>

  <button type="submit" class="diet-create col-md-12 btn-default">Create</button>
</form>
