<div ng-show="isUser()">
  
  <div class="page-header">
    <h3 class="text-center">Mean Starter</h3>
    <a href="#/home"><button class="btn-default col-sm-4">Create Post</button></a>
    <button class="btn-primary col-sm-4">Create Digital Item</button>
    <a href="#/events"><button class="btn-default col-sm-4">Create Event</button></a>
  </div>

  <button class="btn-default col-sm-12" ng-init="showproducts=false"
    ng-click="showproducts = !showproducts">Show/hide Items</button>
          
  <div ng-hide="isContributor()" class="col-sm-12" ng-repeat="item in items" ng-show="showproducts">
    <h4>{{ item.name }} | 
        {{ item.price }}
        {{ item.duration? '|' + item.duration : '' }}
        {{ item.genre?    '|' + item.genre    : '' }} 
        {{ item.category? '|' + item.category : '' }}
    </h4>
          
    <a ng-if="item.type === 'video' || item.type==='podcast' || item.type==='book'" 
      href="#/items/{{item._id}}">Go to Item Page</a>
    <a ng-if="item.type === 'dietplan'" 
      href="#/items/dietplan/{{item._id}}">Go to DietPlan Page</a>
    <a ng-if="item.type === 'challenge'" 
      href="#/items/challenge/{{item._id}}">Go to Challenge Page</a>
    <a ng-if="item.type === 'workoutplan'" 
      href="#/items/workoutplan/{{item._id}}">Go to Workout Plan Page</a>

    <span ng-if="isMine(item)">| <a ng-click="editItem(item)">Edit</a></span>
  </div>

  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>

<div ng-if="isContributor()">
  <div class="col-sm-6">
    <span class="item-title">Create Digital Item</span><span class="item-title" ng-hide="item.type === null"> - {{itemTitles[item.type]}}</span></span>
  </div>
  <div class="col-sm-6 text-center">
    <span class="item-types">
      <a ng-click="initItem('workoutplan')">Workout Plan</a> | 
      <a ng-click="initItem('dietplan')">Diet Plan</a> | 
      <a ng-click="initItem('book')">Book</a> | 
      <a ng-click="initItem('video')">Video</a> | 
      <a ng-click="initItem('podcast')">Podcast</a>
    </span>
  </div>

  <!-- - - - - - - - - - - - - - WORKOUT - - - - - - - - - - - -->
  <workout-plan item="item" ng-if="item.type === 'workoutplan'"></workout-plan>
  <!-- - - - - - - - - - - - - - DIET - - - - - - - - - - - -->
  <diet-plan item="item" ng-if="item.type === 'dietplan'"></diet-plan>
  <!-- - - - - - - - - - - - - - MEDIA - - - - - - - - - - - -->
  <digital-media item="item" ng-if="item.type === 'video' || item.type === 'podcast' || item.type === 'book'"></digital-media>
        <!-- - - - - - - - - - - - - - BOOTCAMP - - - - - - - - - - - -->
        <div ng-show="item.type==='Bootcamp'">
          <h3>Is it a bootcamp?</h3>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="hashtag"
              ng-model="item.hashtag"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="recurrence"
              ng-model="item.recurrence"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="location"
              ng-model="item.location"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="date"
              ng-model="item.date"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="time"
              ng-model="item.time"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="max attendance"
              ng-model="item.max_attendance"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="duration"
              ng-model="item.duration"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="demo gender"
              ng-model="item.demo_gender"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="demo age"
              ng-model="item.demo_age"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="description"
              ng-model="item.description"></input>
          </div>
      </div>
      <div ng-show="item.type==='Challenge'">
          <h3>Is it an online challenge?</h3>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="hashtag"
              ng-model="item.hashtag"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="recurrence"
              ng-model="item.recurrence"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="date"
              ng-model="item.date"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="time"
              ng-model="item.time"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="max attendance"
              ng-model="item.max_attendance"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="duration"
              ng-model="item.duration"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="demo gender"
              ng-model="item.demo_gender"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="demo age"
              ng-model="item.demo_age"></input>
          </div>
          <div class="form-group">
            <input type="text"
              class="form-control"
              placeholder="description"
              ng-model="item.description"></input>
          </div>
      </div>
  </form>
</div>  