<div ng-show="isUser()">
  <div ng-if="isCurrentUser()" class="page-header">
    <h1>It's buying time</h1>
  </div>
  <form ng-submit="startTrans()">
    <input ng-model="item.price" disabled/>
    <input ng-model="item.currency" disabled/>
    <input ng-model="item.number" placeholder="Card Number" required />
    <input ng-model="item.month" placeholder="Exp Month" required />
    <input ng-model="item.year" placeholder="Exp Year" required />
    <input ng-model="item.cvc" placeholder="CVC" required />
    <button type="submit">Submit</button>
  </form>
  <div>
    <span>
      <a href="#/home">Home Page</a>
    </span>
  </div>  
</div>