<form name="metaDataForm" ng-submit="save()" style="margin-top:30px;">
  {{options}}
  <div class="field.class" ng-repeat="field in options.fields">
    {{field.name}}
    <input type="{{field.type || text}}" class="form-control" placeholder="field.name" ng-model="item[field.type]" {{required? 'required' : ''}}>
  </div>

   <!--  <div class="form-group col-sm-6">
      Hashtag
      <input type="text" class="form-control" placeholder="Hashtag" 
        ng-model="item.hashtag">
    </div>
    <div class="form-group col-sm-6">
      Price
      <input type="text" class="form-control" placeholder="Price" 
        ng-model="item.price" required>
    </div>
    <div class="form-group col-sm-6">
      Duration
      <input type="text" class="form-control" placeholder="Duration" 
        ng-model="item.duration">
    </div>
    <div class="form-group col-sm-6">
      Type
      <input type="text" class="form-control" placeholder="Type" 
        ng-model="item.category">
    </div>
    <div class="form-group col-sm-6">
      Demographic Gender
      <input type="text" class="form-control" placeholder="Demo Gender" 
        ng-model="item.gender">
    </div>
    <div class="form-group col-sm-3">
      Age Range
      <input type="number" class="form-control" placeholder="Min Age" 
        ng-model="item.minage">
    </div>
    <div class="form-group col-sm-3">
      &nbsp;
      <input type="number" class="form-control" placeholder="Max Age" 
        ng-model="item.maxage">
    </div>
  </div>
 -->
</form>