<form ng-submit="saveItem()" style="margin-top:30px;">

  <div class="col-sm-6">
    <div class="form-group col-sm-12">
      <input type="text" class="form-control" placeholder="Title" 
        ng-model="item.name"></input>
    </div>

    <div ng-show="item.type==='book'">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Number of Pages"
          ng-model="item.detail.pages"></input>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Price" 
          ng-model="item.price.value"></input>
      </div>
      <div class="form-group col-sm-12">
      <input type="text" class="form-control" placeholder="genre"
        ng-model="item.detail.genre"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="language"
          ng-model="item.detail.language"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="publisher"
          ng-model="item.detail.publisher"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="isbn"
          ng-model="item.detail.isbn"></input>
      </div>
    </div>   

    <div ng-show="item.type==='video'">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="duration"
          ng-model="item.detail.duration"></input>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Price" 
          ng-model="item.price.value"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="genre"
          ng-model="item.detail.genre"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="language"
          ng-model="item.detail.language"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="studio"
          ng-model="item.detail.studio"></input>
      </div>
    </div>


    <div ng-show="item.type==='podcast'">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="duration"
          ng-model="item.detail.duration"></input>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Price" 
          ng-model="item.price.value"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="genre"
          ng-model="item.detail.genre"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="language"
          ng-model="item.detail.language"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="studio"
          ng-model="item.detail.studio"></input>
      </div>
    </div>

  </div> <!-- end col-sm-6 left side of form -->

  <div class="col-sm-6"> 
    <div ngf-drop ngf-drag-over-class="dragover" ngf-accept="'image/*'"
      ng-model="item.assets.cover_photo_front" 
      style="height: 100px; width: 100%; border: 1px dotted lightgray; ">
      <h6 style="margin: -12px 0 12px 15px; padding: 4px; width: 150px; background-color: white">Upload Front Cover Pic</h6>
      <div class="btn btn-xs btn-default" style="margin-left: 20px" 
        ngf-select>select or drag/drop</div>
      <img ng-show="item.assets.cover_photo_front" 
        ngf-src="item.assets.cover_photo_front[0]" 
        ngf-accept="'image/*'" 
        style="max-height: 40px">
    </div>
    <div ngf-drop ngf-drag-over-class="dragover" 
      ngf-accept="'image/*'"
      ng-model="item.assets.cover_photos.back" 
      style="height: 100px; width: 100%; border: 1px dotted lightgray; margin-top: 20px"> 
      <h6 style="margin: -12px 0 12px 15px; padding: 4px; width: 150px; background-color: white">Upload Back Cover Pic</h6>
      <div class="btn btn-xs btn-default" style="margin-left: 20px" 
        ngf-select>select or drag/drop</div>
      <img ng-show="item.assets.cover_photo_back" ngf-src="item.assets.cover_photo_back[0]" ngf-accept="'image/*'" style="max-height: 40px">
    </div>
  </div>

  <div class="form-group col-sm-12">
    Description
    <textarea class="form-control" placeholder="description"
      ng-model="item.description" rows="5"></textarea>
  </div>

  <div class="form-group col-sm-12">
    <div ngf-drop ngf-drag-over-class="dragover" ngf-accept="'image/*'"
      ng-model="item.assets.main" 
      style="height: 100px; width: 100%; border: 1px dotted lightgray; ">
      <h6 style="margin: -12px 0 12px 15px; padding: 4px; width: 150px; background-color: white">Upload {{item.type==='book'? 'Book PDF' : (item.type === 'Video' ? 'Video' : 'Podcast')}}</h6>
      <div class="btn btn-xs btn-default" style="margin-left: 20px" 
        ngf-select>select or drag/drop</div>
      <img ng-show="item.assets.main" 
        ngf-src="item.assets.main[0]" 
        ngf-accept="'image/*'" 
        style="max-height: 40px">
    </div>
  </div>

  <button type="submit" class="col-sm-12 btn-default">{{item._id? 'Save' : 'Create'}}</button>
</form>
