<form ng-submit="saveItem()" style="margin-top:30px;" ng-if="isMine(item) || !item._id">

  <div class="col-sm-6">
    <div class="form-group col-sm-12">
      <input type="text" class="form-control" placeholder="Title" 
        ng-model="item.name"></input>
    </div>

    <div ng-show="item.type==='book'">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Number of Pages"
          ng-model="item.pages"></input>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Price" 
          ng-model="item.price"></input>
      </div>
      <div class="form-group col-sm-12">
      <input type="text" class="form-control" placeholder="genre"
        ng-model="item.genre"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="language"
          ng-model="item.language"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="publisher"
          ng-model="item.publisher"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="isbn"
          ng-model="item.isbn"></input>
      </div>
    </div>   

    <div ng-show="item.type==='video'">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="duration"
          ng-model="item.duration"></input>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Price" 
          ng-model="item.price"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="genre"
          ng-model="item.genre"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="language"
          ng-model="item.language"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="studio"
          ng-model="item.studio"></input>
      </div>
    </div>


    <div ng-show="item.type==='podcast'">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="duration"
          ng-model="item.duration"></input>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" placeholder="Price" 
          ng-model="item.price"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="genre"
          ng-model="item.genre"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="language"
          ng-model="item.language"></input>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="studio"
          ng-model="item.studio"></input>
      </div>
    </div>

  </div> <!-- end col-sm-6 left side of form -->

  <div class="col-sm-6"> 
    <div ngf-drop ngf-drag-over-class="dragover" 
      ngf-multiple="false" ngf-allow-dir="false"
      ngf-accept="'image/*,application/pdf'"
      ng-model="item.f_cover_file" style="height: 60px; width: 100%; border: 3px dotted lightgray" 
      >Upload Front Cover Pic
      <div class="btn btn-xs btn-default" ngf-select ngf-change="upload($files)">select or drag/drop</div>
      <img ng-if="item.f_cover_file" ngf-src="item.f_cover_file[0]" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'" style="max-height: 40px">
    </div>
    <div ngf-drop ngf-drag-over-class="dragover" 
      ngf-multiple="false" ngf-allow-dir="false"
      ngf-accept="'image/*,application/pdf'"
      ng-model="item.b_cover_file" style="height: 60px; width: 100%; border: 3px dotted lightgray" 
      >Upload Back Cover Pic
      <div class="btn btn-xs btn-default" ngf-select ngf-change="upload($files)">select or drag/drop</div>
      <img ng-if="item.b_cover_file" ngf-src="item.b_cover_file[0]" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'" style="max-height: 40px">
    </div>
  </div>

  <div class="form-group col-sm-12">
    Description
    <textarea class="form-control" placeholder="description"
      ng-model="item.description" rows="5"></textarea>
  </div>

  <div class="form-group col-sm-12">
    Upload {{item.type==='book'? 'Book PDF' : (item.type === 'Video' ? 'Video' : 'Podcast')}}
    <input type="file" file-upload="item.file">
  </div>

  <button type="submit" ng-hide="item._id" class="diet-create col-sm-12 btn-default">Create</button>
  <button type="submit" ng-show="item._id" class="diet-create col-sm-12 btn-default">Save</button>
</form>
