<div ng-swipe-right="prev()" ng-swipe-left="next()">
  <ol class="carousel-indicators" ng-show="slides.length > 1">
    <li ng-repeat="meal in viewingDay.meals | track by $index" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
  </ol>
  <div ng-transclude></div>
  <a class="left carousel-control" ng-click="prev()" ng-show="viewingDay.meals.length > 1"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" ng-click="next()" ng-show="viewingDay.meals.length > 1"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>