<div><h1>Hi</h1></div>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHlTfALoPx_zwBB15W1obqHcrtXk8ObVA">
</script>
<script>
function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(-34.397, 150.644)
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
      '&signed_in=true&callback=initialize';
  document.body.appendChild(script);
}

window.onload = loadScript;
</script>

<div id="map-canvas" style="width: 100%; height: 100%"></div>
<script type="text/ng-template" id="searchbox.tpl.html">
   <input type="text" placeholder="Search Box">
</script>

<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
<ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
</ui-gmap-google-map>


