<h3>Profile for {{user.f_name}} {{user.l_name}}</h3>
<table class="table">
  <tr>
  	<td>Trainer</td>
  	<td>{{item.creator.username}}</td>
  </tr>
  <tr>
    <td>First Name</td>
    <td>{{user.f_name}}</td> 
  </tr>
  <tr>
    <td>Last Name</td> 
    <td>{{user.l_name}}</td>
  </tr>
  <tr>
  	<td>Address</td> 
    <td>{{user.address}}</td>
  </tr>
  <tr>
  	<td>Date of Birth</td> 
    <td>{{user.dob}}</td>
  </tr>
  <tr>
  	<td>Handle</td> 
    <td>{{user.handle}}</td>
  </tr>
</table>
<form ng-submit="followUser()">
<button ng-show="isLoggedIn()" ng-hide="isFollowing()" class="btn btn-primary">Follow</button>
</form>
<button ng-show="isFollowing()" class="btn btn-primary" disabled>Following</button>

<div ng-repeat="follower in user.followers">
  {{follower}}
</div>
