<div ng-show="isUser()">
  <div>
    <div class="page-header">
      <h3 class="text-center">Mean Starter</h3>
      <a href="#/home"><button class="btn-default col-sm-4">Create Post</button></a>
      <a href="#/shop"><button ng-if="isContributor()" class="btn-default col-sm-4">Create Digital Item</button></a>
      <button ng-if="isContributor()" class="btn-primary col-sm-4">Create Event</button>
    </div>

    <button class="btn-default col-sm-12" ng-init="showevents=true"
      ng-click="showevents = !showevents">Show/hide Events</button>
          
    <div class="col-sm-12" ng-repeat="event in events" ng-show="showevents">
        <h4>{{ event.name }} | 
          <span ng-hide="event.type === 'bootcamp'">
          ${{ event.price.value/100 }}{{ event.price.currency === 'USD' ? '' : event.price.currency }}</span>
          {{ event.details.recurrence? ' | ' + event.details.recurrence : '' }}
          {{ event.details.date?    '|' + event.details.date    : '' }} 
          {{ event.details.time?    '|' + event.details.time    : '' }} 
      </h4>
            
      <a href="#/event/{{event._id}}">Go to {{eventTitles[event.type]}} Page</a>

      <span ng-if="isMine(event)"> | 
        <a ng-click="deleteEvent(event, $index)"> Delete </a> </span>
    </div>
  </div>

  <div ng-if="isContributor()">
    <div class="col-sm-6">
      <span class="item-title">Create Event</span><span class="item-title" ng-show="event.type"> - {{eventTitles[event.type]}}</span>
    </div>

    <div class="col-sm-6 text-center">
      <span class="item-types">
        <a ng-click="event.type = 'bootcamp'">Bootcamp</a> | 
        <a ng-click="event.type = 'challenge'">Online Challenge</a> | 
        <a ng-click="event.type = 'session'">Private Session</a>
      </span>
    </div>
    



    <!-- event creation -->
    <form ng-submit="saveEvent()" ng-show="isLoggedIn()" style="margin-top:30px;">

      <!-- - - - - - - - - - - - - - BOOTCAMP - - - - - - - - - - - -->
      <div ng-show="event.type==='bootcamp'">
        <div class="col-sm-6">
          <div class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="title" 
              ng-model="event.name"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="hashtag"
              ng-model="event.details.hashtag"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="recurrence"
              ng-model="event.details.recurrence"></input>
          </div>
          <div class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="location"
              ng-model="event.details.location"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="date"
              ng-model="event.details.date"></input>
          </div>
          <div class="form-group col-sm-6">
          <input type="text" class="form-control" placeholder="time"
            ng-model="event.details.time"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="max attendance"
            ng-model="event.details.max_attendance"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="duration"
              ng-model="event.details.duration"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="demo gender"
              ng-model="event.details.demo_gender"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="number" class="form-control" placeholder="demo age"
              ng-model="event.details.demo_age.min"></input>
            <input type="number" class="form-control" placeholder="demo age"
              ng-model="event.details.demo_age.max"></input>
          </div>
        </div>
        <div class="col-sm-6">
          <div ngf-drop ngf-drag-over-class="dragover" 
            ngf-multiple="false" ngf-allow-dir="false"
            ngf-accept="'image/*,application/pdf'"
            ng-model="event.photo" style="height: 60px; width: 100%; border: 3px dotted lightgray">
            Upload Event Pic
            <div class="btn btn-xs btn-default" ngf-select ngf-change="upload($files)">select or drag/drop</div>
            <img ng-if="event.photo" ngf-src="event.photo[0]" ngf-accept="'image/*'" style="max-height: 40px">
          </div>
          <div ngf-drop ngf-drag-over-class="dragover" 
            ngf-multiple="false" ngf-allow-dir="false"
            ngf-accept="'image/*,application/pdf'"
            ng-model="event.cover_photo" style="height: 60px; width: 100%; border: 3px dotted lightgray" 
            >Upload Cover Photo
            <div class="btn btn-xs btn-default" ngf-select ngf-change="upload($files)">select or drag/drop</div>
            <img ng-if="event.cover_photo" ngf-src="item.cover_photo[0]" ngf-accept="'image/*'" style="max-height: 40px">
          </div>
        </div>
      </div>

      <!-- - - - - - - - - - - - - - CHALLENGE - - - - - - - - - - - -->
      <div ng-show="event.type==='challenge'">
        <div class="col-sm-6">
          <div class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="Title" 
              ng-model="event.name"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="hashtag"
              ng-model="event.details.hashtag"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="price"
              ng-model="event.price.value" required></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="start date"
              ng-model="event.details.date.start"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="end date"
              ng-model="event.details.date.end"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="demo gender"
              ng-model="event.details.demo_gender"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="demo age"
              ng-model="event.details.demo_age.min"></input>
            <input type="text" class="form-control" placeholder="demo age"
              ng-model="event.details.demo_age.max"></input>
          </div>
        </div>
        <div class="col-sm-6">
          <div ngf-drop ngf-drag-over-class="dragover" 
            ngf-multiple="false" ngf-allow-dir="false"
            ngf-accept="'image/*,application/pdf'"
            ng-model="event.photo" style="height: 60px; width: 100%; border: 3px dotted lightgray">
            Upload Event Pic
            <div class="btn btn-xs btn-default" ngf-select ngf-change="upload($files)">select or drag/drop</div>
            <img ng-if="event.photo" ngf-src="event.photo[0]" ngf-accept="'image/*'" style="max-height: 40px">
          </div>
          <div ngf-drop ngf-drag-over-class="dragover" 
            ngf-multiple="false" ngf-allow-dir="false"
            ngf-accept="'image/*,application/pdf'"
            ng-model="event.cover_photo" style="height: 60px; width: 100%; border: 3px dotted lightgray" 
            >Upload Cover Photo
            <div class="btn btn-xs btn-default" ngf-select ngf-change="upload($files)">select or drag/drop</div>
            <img ng-if="event.cover_photo" ngf-src="item.cover_photo[0]" ngf-accept="'image/*'" style="max-height: 40px">
          </div>
        </div>
        <div class="form-group col-sm-12">
          <textarea class="form-control" placeholder="description"
            ng-model="event.description" row="8"></textarea>
        </div>
      </div>
      <!-- - - - - - - - - - - - - - PRIVATE SESSION - - - - - - - - - - - -->
      <div ng-show="event.type==='session'">
        <div class="col-sm-6">
          <div class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="Title" 
              ng-model="event.name"></input>
          </div>
          <div class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="price"
              ng-model="event.price.value" required></input>

          </div>
          <div class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="location"
              ng-model="event.details.location"></input>
          </div>
          <div class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="type"
              ng-model="event.details.category"></input>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="demo gender"
              ng-model="event.details.demo_gender"></input>
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="demo age"
              ng-model="event.details.demo_age.min"></input>
            <input type="text" class="form-control" placeholder="demo age"
              ng-model="event.details.demo_age.max"></input>
          </div>
          <div class="form-group col-sm-12">
            <textarea class="form-control" placeholder="description"
              ng-model="event.description" row="8"></textarea>
          </div>
        </div>
      </div>

      <button ng-if="isContributor()" type="submit" style="margin-bottom: 20px" class="col-sm-12 btn-default" ng-show="event.type">{{event._id? 'Save' : 'Create'}}</button>
    </form>

  </div>
</div>
