<div class="page-header" ng-init="showEdit = false">
    <h3>
      <span>
        {{item.name}}
      </span>
    </h3>

    <span ng-show="!isCurrentUser()">
      <a ng-href="#/transactions/item/{{item._id}}">Buy Item</a>
    </span>

    | ${{item.price.value/100}} | {{item.description}}

    <div ng-show="isCurrentUser()" ng-if="isContributor() && isMine(item)" >
      <a href="" ng-click="deleteItem()"><span>Delete Item<br></span></a>
      <a href="/set/#/item/{{item._id}}">View Public Page</a>
    </div>
</div>

<button class="btn btn-default form-control" 
  ng-show="isMine(item)"
  ng-click="showEdit = !showEdit">
  Edit Item </button>

<digital-media ng-show="!showEdit && item.video || item.book || item.podcast" item="item"></digital-media>
<digital-media-editor ng-show="showEdit && isMine(item) && item.video || item.book || item.podcast" item="item"></digital-media>

<diet-plan ng-if="!showEdit && isMine(item) && item.type === 'dietplan'" item="item"></diet-plan>
<diet-plan-editor ng-if="isMine(item) && item.type === 'dietplan'" item="item"></diet-plan>

<workout-plan ng-if="isMine(item) && item.type === 'workoutplan'" item="item"></workout-plan>
