.diet-title {
    display: inline-block;
}

.diet-photo {
    border: 1px solid #999;
    height: 120px;

}

.diet-plus {
    height: 45px;
    line-height: 45px;
}

.meal-day-btn {
    display: inline-block;
}