<div>
    <div class="col-sm-12"> <h3 class="diet-title">Recipe</h3> </div>

    <div class="col-sm-6">
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" placeholder="Title" 
          ng-model="recipe.title">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Type" ng-model="recipe.type">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Equipment" ng-model="recipe.equipment">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Number of Servings" ng-model="recipe.yield">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Estimated Cost" ng-model="recipe.cost">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Calories" ng-model="recipe.calories">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Prep Time" ng-model="recipe.preptime">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Fats" ng-model="recipe.fats">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Cooking Time" ng-model="recipe.cooktime">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Carbs" ng-model="recipe.carbs">
      </div>

      <div class="form-group col-sm-6">
        <input type="text" class="form-control"
        placeholder="Proteins" ng-model="recipe.proteins">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group col-sm-12">
        <textarea class="form-control" placeholder="Description"
          ng-model="recipe.description" row="10"> </textarea>
      </div>
      <div class="diet-photo col-sm-6">Upload Pic</div>
      <div class="diet-photo col-sm-6">Upload Cover Photo</div>
      <div class="diet-photo col-sm-6">Upload Pic</div>
      <div class="diet-photo col-sm-6">Upload Cooking Video</div>
    </div>

  <!-- - - - - - - - - - - - - steps - - - - - - - - - - - - - - - - - - -->
  <add-widget set="recipe.steps" widget-class="col-sm-6">
    <add-widget-item class="col-sm-6" item="step" ng-repeat="step in recipe.steps">
      Step {{step.order}}<br/>
      {{step.description}}
    </add-widget-item>

    <add-widget-form class="col-sm-6" ng-show="step" fields="addWidgetFields['cookingstep']" save="saveStep()">
      Step {{step.order}}
    </add-widget-form>

    <add-widget-plus class="diet-plus col-sm-6" item-type="cooking step" ng-click="initStep()">
    </add-widget-plus>
  </div>

  <!-- - - - - - - - - - - - - ingredients - - - - - - - - - - - - -->

  <div class="col-sm-12">
    <add-widget>
      <add-widget-item class="col-sm-4" ng-repeat="ingredient in recipe.ingredients" item="ingredient">
        {{ingredient.amount.value}} {{ingredient.amount.type}} {{ingredient.description}}
      </add-widget-item>

      <add-widget-form class="col-sm-4" item-type="ingredient" item="ingredient" fields="addWidgetFields[ingredient]" searchable="true"> </add-widget-form>

      <add-widget-plus class="col-sm-4" init="initIngredient()" item-type="ingredient"> </add-widget-plus>
    </add-widget>
  </div>

  <button ng-click="saveRecipe()" class="diet-create col-sm-12 btn-primary ">Create</button>
</div>