.item-title {
  font-size: 28px;
  line-height: 36px;
}
.item-types {
  font-size: 14px;
  line-height: 36px;
}
.item-types a {
  text-decoration: underline;
}

.diet-title {
    display: inline-block;
}

.diet-photo {
    border: 1px solid #999;
    height: 120px;

}

.diet-plus {
    height: 45px;
    line-height: 45px;
}

.meal-day-btn {
  display: inline-block;
}

.ingredient {
  border: 1px solid #999;
}
.ingredient-parts {
  display: inline-block;
  text-align: center;
}
