<!-- META DATA -->
<form name="dietMetaData" ng-submit="saveDiet()" style="margin-top:30px;">
  <div class="col-sm-6">
    <div class="form-group col-sm-12">
      Title
      <input type="text" class="form-control" placeholder="Title" 
        ng-model="dietplan.name" required>
    </div>
    <div class="form-group col-sm-6">
      Hashtag
      <input type="text" class="form-control" placeholder="Hashtag" 
        ng-model="dietplan.hashtag">
    </div>
    <div class="form-group col-sm-6">
      Price
      <input type="text" class="form-control" placeholder="Price" 
        ng-model="dietplan.price" required>
    </div>
    <div class="form-group col-sm-6">
      Duration
      <input type="text" class="form-control" placeholder="Duration" 
        ng-model="dietplan.duration">
    </div>
    <div class="form-group col-sm-6">
      Type
      <input type="text" class="form-control" placeholder="Type" 
        ng-model="dietplan.category">
    </div>
    <div class="form-group col-sm-6">
      Demographic Gender
      <input type="text" class="form-control" placeholder="Demo Gender" 
        ng-model="dietplan.gender">
    </div>
    <div class="form-group col-sm-3">
      Age Range
      <input type="number" class="form-control" placeholder="Min Age" 
        ng-model="dietplan.minage">
    </div>
    <div class="form-group col-sm-3">
      &nbsp;
      <input type="number" class="form-control" placeholder="Max Age" 
        ng-model="dietplan.maxage">
    </div>
  </div>

  <div class="upload-photo col-sm-3" ngf-drop ngf-drag-over-class="dragover" ngf-accept="'image/*'"
    ng-model="dietplan.photo" style="border: 2px dotted lightgray">
    <span class="upload-photo-title">Upload Item Pic</span>
    <button class="btn btn-xs btn-default" ngf-select  ngf-accept="'image/*'" 
      ng-model="dietplan.photo">select or drag/drop</button>
    <img ng-if="dietplan.photo" ngf-src="dietplan.photo[0]" ngf-accept="'image/*'" style="max-height: 40px">
  </div>
  <div class="upload-photo col-sm-3" ngf-drop ngf-drag-over-class="dragover" ngf-accept="'image/*'"
    ng-model="dietplan.photo" style="border: 2px dotted lightgray">
    <span class="upload-photo-title">Upload Cover Photo</span>
    <button class="btn btn-xs btn-default" ngf-select ngf-accept="'image/*'" 
      ng-model="dietplan.cover_photo">select or drag/drop</button>
    <img ng-if="dietplan.cover_photo" ngf-src="dietplan.cover_photo[0]" ngf-accept="'image/*'" style="max-height: 40px">
  </div>

  <div class="form-group col-sm-12">
    <textarea class="form-control" placeholder="Description" row="8"
      ng-model="dietplan.description"></textarea>
  </div>

  <button type="submit" class="diet-create col-sm-12 btn-default">{{dietplan._id? 'Save Changes' : 'Create'}}</button>
</form>


<div ng-show="dietplan._id">
  <!-- Meal Itinerary -->
  <meal-itinerary></meal-itinerary>
  <recipe-creator ng-show="newRecipe" recipe="newRecipe"></recipe-creator>


  <!-- DEBUG ZONE -->
  <div class="row">
    <div class="col-sm-12" style="margin-top: 50px">
      <div class="col-sm-3"> Meal <pre>{{meal|json}}</pre> </div>
      <div class="col-sm-3"> Recipe <pre>{{recipe|json}}</pre> </div>
      <div class="col-sm-3"> New Recipe <pre>{{newRecipe|json}}</pre> </div>
      <div class="col-sm-3"> Ingredient <pre>{{ingredient|json}}</pre> </div>
    </div>
    <div class="col-sm-12" style="margin-top: 50px">
      <pre>{{dietplan.days[dayOrder-1]|json}}</pre>
    </div>
    <div class="col-sm-12" style="margin-top: 50px">
      Dietplan <pre>{{dietplan|json}}</pre>
    </div>
  </div>

</div><!-- diet plan meta -->

